{{ define "main" }}
<section
  class="uk-section uk-margin-medium-bottom uk-position-relative frontpage-hero-section"
>
  <div class="uk-container">
    <div class="uk-grid" uk-grid>
      <div>
        <div class="uk-width-xlarge@m">
          <h1 class="uk-margin-remove-bottom frontpage-app-name">BlenderDMX Addon</h1>
          <div class="uk-text-muted uk-margin-remove-top">
            An addon for Blender to design and render DMX lighting
          </div>
          <p class="uk-margin-medium-top">
            Entertainment and architectural DMX lighting visualization and
            rendering tool designed to offer a free and easy solution for
            Lighting Designers.
          </p>
          <p>
            Device definition is based on
            <a href="https://gdtf-share.com" rel="nofollow"
              >GDTF Specification</a
            >, utilizing the Fixture library on
            <a href="https://gdtf-share.com" rel="nofollow">GDTF Share</a>.
          </p>
          <p>
            BlenderDMX Addon is built on strong foundation of
            <a href="https://blender.org" rel="nofollow">Blender</a>, which runs
            equally well on Linux, Windows, and Macintosh computers. Its
            interface uses OpenGL to provide a consistent experience.
          </p>
        </div>

        <div class="uk-margin-large-top">
          <a
            class="uk-button uk-button-large uk-button-primary uk-width-expand uk-width-auto@s uk-margin-small-bottom"
            href="/download"
            role="button"
          >
            <i class="fa-solid fa-file-arrow-down"></i> Download Page
          </a>
          <a
            class="uk-button uk-button-large uk-button-secondary uk-width-expand uk-width-auto@s uk-margin-small-bottom"
            href="#project"
            role="button"
            uk-scroll="offset: 50"
          >
            <i class="fa-solid fa-circle-info"></i> Learn More
          </a>
        </div>
      </div>

      <div class="uk-width-expand frontpage-hero">
        <!--        <div
          class="uk-alert-primary"
          uk-alert
          uk-parallax="opacity: 1,0; scale: 1,1.2; end: 5vh; easing: -2; media: @m"
        >
          <a href class="uk-alert-close" uk-close></a>
          <p>
            The <a href="https://gdtf-share.com">GDTF Group</a>
            has
            <a
              href="https://www.facebook.com/GeneralDeviceTypeFormat/posts/pfbid02PQ9WqrVLoSMq9g3V2CnaH5BNd9XuAHrn7L1HcUMSAVJe9nPgJqDEyELEeqgCCJqdl"
              >posted about our project</a
            >
            on their Facebook
            <a href="https://www.facebook.com/GeneralDeviceTypeFormat">page</a>
            . You can
            <a
              href="https://www.facebook.com/GeneralDeviceTypeFormat/posts/pfbid02PQ9WqrVLoSMq9g3V2CnaH5BNd9XuAHrn7L1HcUMSAVJe9nPgJqDEyELEeqgCCJqdl"
              >like the post</a
            >
            to send them some thanks.
          </p>
        </div>
-->

        <img
          src="/assets/img/frontpage-hero.png"
          alt=""
          uk-parallax="opacity: 1,0; scale: 1,1.2; end: 5vh; easing: -2; media: @m"
        />
      </div>
    </div>
  </div>
</section>

<hr class="uk-divider-icon" />

<section class="uk-section">
  <div class="uk-container">
    <div class="uk-grid uk-child-width-1-3@l" uk-grid>
      <div>
        <h2><i class="fa-solid fa-palette"></i> Motivation</h2>
        <p>
            As lighting designers, we have always wanted a free DMX visualizer capable of
            ray tracing, with capabilities for real-time programming of dynamics, as well
            as the ability to produce photorealistic output.
        </p>
        <p>
          BlenderDMX Addon offers both possibilities: Eevee real time renderer offers
          the dynamics, while Cycles offers stunning photorealistic results.
        </p>
        <p>
        The combination of
        tools like Blender, Python, and GDTF provides a transparent and accessible
        platform, allowing designers to deeply comprehend how each component works and
        make improvements or modifications as required.
        </p>
      </div>
      <div>
        <h2>
          <i class="fa-solid fa-arrows-turn-to-dots"></i> Advanced Networking
        </h2>
        <ul>
          <li>
            External <strong>DMX</strong> signal from <strong>sACN</strong> or
            <strong>Art-Net</strong> can be used for controlling, and it can be
            recorded as keyframes into Blender or the signal can be used for a
            special <i>#bdmx</i> driver in Blender to control other Blender objects/properties.
          </li>

          <li>
            <strong>OpenSoundControl</strong> can send fixture selection to
            external DMX consoles.
          </li>
          <li>
            <strong>PosiStageNet</strong> can receive position information from
            different trackers connected to a PSN server, it's followers can be
            moving lights or any other Blender objects.
          </li>
          <li>
            <strong>GDTF Share</strong> and format integration provides source
            of fixture data.
          </li>
          <li>
            <strong>MVR-xchange</strong> protocol offers seamless MVR workflow.
          </li>
        </ul>
      </div>
      <div>
        <h2><i class="fa-solid fa-heart"></i> Open Source</h2>
        <p>
          The source code is completely open source under the GPLv3 license and
          openly available on GitHub. Feel free to inspect, share, and
          contribute!
        </p>
        <p>
        By leveraging open-source technologies, designers can fully learn and
        understand every detail of the system, empowering them to make informed
        decisions and tailor the solution to their specific needs. 
        </p>
        <p>
          BlenderDMX Addon is using General Device Type Format (GDTF) and My Virtual
          Rig (MVR) - open-source file formats that let you share anything with
          anyone.
        </p>
      </div>
    </div>
  </div>
</section>

<hr class="uk-divider-icon" />

<section class="uk-section" id="project">
  <div class="uk-container">
    <div class="uk-grid uk-child-width-1-2@m uk-grid-large" uk-grid>
      <div>
        <img
          src="/assets/img/gobo.gif"
          uk-parallax="y: -120,0; opacity: 0,1; scale: 1.1,1; end: 70vh + 70%; easing: 2; media: @m"
        />
      </div>
      <div class="uk-flex-first@m">
        <h2>The Project</h2>

        <p>
          <strong>BlenderDMX Addon</strong> allows using lighting fixture's definitions from GDTF and
          also loading of complete scenes from MVR. Fixture's manipulation can
          be done internally in Blender or externally via DMX like ArtNet or
          sACN. External DMX or internal Programmer state can be recorded into
          Blender's timeline via
          <a href="/docs/keyframe-animations-recording/">Keyframes recording</a
          >. BlenderDMX Addon also offers dedicated
          <a href="/docs/dmx#blenderdmx-addon-dmx-driver-for-blender"
            >DMX driver for Blender</a
          >
          to control any Blender property via external DMX signal.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="uk-section" id="renders">
  <div class="uk-container">
    <div class="uk-grid uk-child-width-1-2@m uk-grid-large" uk-grid>
      <div>
        <img
          src="/assets/img/21_prod_01.jpg"
          uk-parallax="y: -120,0; opacity: 0,1; scale: 1.1,1; end: 70vh + 70%; easing: 2; media: @m"
        />
      </div>
      <div>
        <h2>Beautiful Renders</h2>
        <p>
          Blender can achieve very eye pleasing photorealistic renders thanks to
          it's raytracing rendering method called Cycles. The Cycles renderer as
          well as the OpenImageDenoise can run on GPU on supported hardware.
          Image by
          <a href="https://www.twentyoneproduction.com/">21 Production</a>. See
          more examples in the <a href="/gallery">Gallery</a>.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="uk-section" id="get_started">
  <div class="uk-container">
    <div class="uk-grid uk-child-width-1-2@m uk-grid-large" uk-grid>
      <div>
        <img
          src="/assets/img/pixel_control.gif"
          uk-parallax="y: -120,0; opacity: 0,1; scale: 1.1,1; end: 70vh + 70%; easing: 2; media: @m"
        />
      </div>
      <div class="uk-flex-first@m">
        <h2>How to Get Started</h2>
        <p>
          Our
          <strong>
            <a href="/docs/get_started/"
              ><i class="fa-solid fa-rocket"></i> Getting Started Guide</a
            ></strong
          >
          walks you through the steps of
          <strong
            ><a href="/download"
              ><i class="fa-solid fa-download"></i> downloading</a
            ></strong
          >
          BlenderDMX Addon.
        </p>

        <p>
          Detailed usage documentation is available in the
          <strong
            ><a href="/docs/setup"
              ><i class="fa-solid fa-book"></i> User Guide</a
            ></strong
          >. Also head over to our
          <strong
            ><a href="/docs/faq/"
              ><i class="fa-solid fa-circle-question"></i> Documentation &amp;
              FAQ page</a
            ></strong
          >
          for more information.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="uk-section uk-section-muted">
  <div class="uk-container">
    <h2 class="uk-margin-medium-bottom">Recent Blog Posts</h2>

    <div
      class="uk-grid uk-child-width-1-2@m uk-text-small"
      uk-grid="masonry: true"
      uk-parallax="y: -50,0; scale: 1.1,1; opacity: 0,1; end: 70vh + 100%; media: @m"
    >
      {{- block "index-post-teasers" . }} {{- range first 2 (where
      .Site.RegularPages "Section" "blog").ByPublishDate.Reverse }}
      <div>{{ partial "article-teaser" . }}</div>
      {{- end }} {{ end }}
    </div>
  </div>
</section>


<section class="uk-section" id="project">
  <div class="uk-container">
    <div class="uk-grid uk-child-width-1-2@m uk-grid-large" uk-grid>
      <div>
        <img
          src="/assets/img/heckert_gnu_transparent.png"
          uk-parallax="y: -120,0; opacity: 0,1; scale: 1.1,1; end: 70vh + 70%; easing: 2; media: @m"
          width="300px"
        />
      </div>
      <div class="uk-flex-first@m">
        <h2>GNU General Public License</h2>

        <p>
    BlenderDMX Addon is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.</p>

            <p>BlenderDMX Addon is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.</p>

            <p>You should have received a copy of the GNU General Public License along with this program. If not, see <a href="https://www.gnu.org/licenses/gpl-3.0.html">https://www.gnu.org/licenses/</a>.</p>
        </p>
      </div>
    </div>
  </div>
</section>
{{ end }}
